

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#root{
    display: grid;
    grid-template-columns: 15rem 1fr 15rem;
}

header, main, footer{
    grid-column: 1/-1;
}

main {
    display: grid;
    grid-template-columns: subgrid;
}

.hero {
    grid-column: 1/-1;
}

.danish__home, .houses, .agents {

    grid-column: 2/span 1;
}

nav{
    grid-column: 2 / span 1;
}


.houses{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-bottom: 4rem;
    background-color: #F8F8FB;
}


/*///////////////////////////////////////////////////////////////////////// */

:root{
    --primary-color:#162A41;
    --text-color:#2A2C30;
    --lightgrey-color:#7B7B7B;
    --bg-color:#F8F8FB;
}

h1, h2, h3, h4, h5, h6, p, a, li, button{
    color: var(--text-color);
}

/* //////////////////////////////////////////header ////////////////////////// */

.header__contact, .search__btn{
    background-color: var(--primary-color);
    color:white;
}

.logo{
    width: 15rem;
}

.section__header h2{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.section__header p{
    font-size: 1rem;
    text-align: center;
}

/* //////////////////////////////////////////hero ////////////////////////// */


.hero{
  position: relative;
}

.search__home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* //////////////////////////////////////////marketing ////////////////////////// */

.danish__home{
    padding-block: 4rem;
}


/* //////////////////////////////////////////newsletters ////////////////////////// */
.newsletter{
    grid-column: 1/ -1;
    background-color: var(--primary-color);
    color: white;
    padding-block: 2rem;
}


/* /////////////////////////////////////////agents //////////////////////// */
.agents{
    padding-bottom: 4rem;
}

.agents__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding-block: 2rem;
}

.show__more__btn{
    color: white;
}

/* /////////////////////////////stay updated ////////////////////////// */

.stay__updated {
  grid-column: 1 / -1;
}

/* //////////////////////////////////////////marketing ////////////////////////// */

.rights{
    background-color: var(--primary-color);
    color:white;
    text-align: center;
    grid-column: 1 / -1;
    padding-block: .75rem;
}

/* //////////////////////////////////////////footer ////////////////////////// */
footer{
    display: grid;
    grid-template-columns: subgrid;
    padding-top: 4rem;
}

.footer__wrapper{
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr 25rem;
    grid-template-rows: 1fr 1fr 1fr ;
}

.footer__acronym{
    background-color: white;
    color: var(--lightgrey-color);
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 40rem;
}

.footer__acronym div{
    grid-column: 2 / span 1;
    margin-block: 2rem;
}

.footer__logo{
    grid-column: 1 / span 3;

}

.footer__links {
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
 
}

.footer__contact{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    top: 35%;
}

.footer__contact .contact__info{
    padding: 1rem;
}



/* 


.footer__links{
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;
    padding: 1rem;
} */


